<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Pagina não encontrada</title>
</head>
<body style="background-color: rgb(18, 19, 54);">
    <div class="container-xxl my-md-4 bd-layout">
        <main style="padding: 5px;">
            <div class="row" class="container" style="height: 100vh;">
                <div class="col-7 container d-flex justify-content-center align-items-center">
                    <div style="width: 700px; height: 500px;" class="container d-flex justify-content-center align-items-center">             
                        <div>
                            <h1 class="d-flex justify-content-center text-muted" style="font-size: 85px; color: white;">Erro 404: Página Não Encontrada.</h1>
                            <h3 class="d-flex justify-content-center" style="color: white; margin-bottom: 15px;">Ops, acho que alguém jogou fora o mapa do site!</h3>
                            <div class="d-flex justify-content-center">
                                <p class="overflow-auto" style="color: white; height: 430px; width: 500px; text-align: center;">
                                    Havia uma antiga lenda entre os programadores e desenvolvedores web sobre um mapa misterioso que controlava o destino de todos os sites da internet. Dizia-se que este mapa, conhecido como o "Mapa do Site Supremo", continha o conhecimento de todas as páginas da web, desde as mais simples até as mais complexas.
                    
                                    A história contava que o Mapa do Site Supremo era guardado por uma entidade poderosa conhecida como o Guardião dos Links, que vivia em uma caverna escondida nas profundezas da internet. Somente aqueles que possuíam habilidades excepcionais de programação e uma coragem incomparável seriam capazes de encontrar essa caverna e desvendar os segredos do mapa.
                    
                                    Muitos aventureiros tentaram ao longo dos anos encontrar o Mapa do Site Supremo, mas poucos conseguiram. Dizia-se que o mapa era tão poderoso que poderia conceder acesso a qualquer parte da internet, revelar os segredos mais bem guardados e até mesmo desvendar os mistérios do código-fonte mais complexo.
                    
                                    Um jovem programador chamado Alex ouviu falar sobre a lenda do Mapa do Site Supremo enquanto navegava pela web em busca de inspiração para seu próximo projeto. Fascinado pela ideia de ter acesso a todo o conhecimento da internet, Alex decidiu embarcar em uma jornada para encontrar o mapa lendário.
                    
                                    Guiado por pistas obscuras encontradas em fóruns obscuros e mensagens criptografadas em linhas de código, Alex viajou através de redes sociais, fóruns de desenvolvedores e até mesmo jogos online, desvendando enigmas e desafiando obstáculos digitais.
                    
                                    Após semanas de busca incansável, Alex finalmente encontrou a entrada da caverna do Guardião dos Links, uma página aparentemente comum perdida no labirinto da internet. Com o coração batendo forte de emoção e antecipação, Alex clicou no link e foi transportado para o interior da caverna misteriosa.
                    
                                    Lá, diante de seus olhos, estava o Guardião dos Links, uma figura imponente feita de pixels e código binário. Com uma voz grave e ecoante, o Guardião desafiou Alex a provar sua dignidade para possuir o Mapa do Site Supremo.
                    
                                    Determinado a não desistir, Alex enfrentou uma série de desafios digitais, resolvendo quebra-cabeças de lógica, decifrando códigos e superando armadilhas virtuais. Com cada desafio superado, Alex se aproximava mais e mais do mapa lendário.
                    
                                    Finalmente, após uma jornada épica e cheia de perigos, Alex alcançou o coração da caverna e encontrou o Mapa do Site Supremo, brilhando com uma luz divina de pixels dourados. Com mãos trêmulas, Alex tocou o mapa e sentiu uma onda de conhecimento e poder fluir por todo o seu ser.
                    
                                    Ao retornar à superfície da internet, Alex percebeu que agora possuía o poder de navegar por qualquer parte da web, de desvendar os segredos mais profundos e de criar sites que desafiavam a própria realidade digital.
                    
                                    E assim, a lenda do Mapa do Site Supremo viveu para sempre, inspirando gerações de programadores e desenvolvedores web a buscar conhecimento, superar desafios e explorar os mistérios infinitos da internet.
                                </p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-primary" href="{% url 'home' %}" type="button" title="Melhor deixar isso pra lá...">Voltar para casa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
      <script type="text/javascript">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
</body>
</html>